/* Colors */
/*border settings */
/*paddings */
/* margins */
/* font sized */
body {
  background-color: #E3F2FD;
  color: #000;
  border-top: thick solid #2196F3;
  padding-top: 10px;
}
textarea {
  resize: none;
}
.game-name {
  font-size: 20px;
}
.game-panel {
  background-color: #9cd1f8;
  border-color: #E3F2FD;
  border-radius: 0px;
  background-size: cover;
  size: cover;
}
.panel-title {
  font-weight: bold;
}
.game-panel-header {
  border-bottom: 1px solid #2196F3;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 1%;
  padding-bottom: 5px;
}
.table-panel,
.player-panel {
  background-color: #9cd1f8;
  border-color: #E3F2FD;
  border-radius: 0px;
  background-size: cover;
  size: cover;
  background-color: #aad7f9;
}
.wk-about {
  text-align: center;
}
.wk-about .version {
  padding-bottom: 5px;
}
/*game button styles*/
.wk-btn {
  background-color: transparent;
  border-color: #E3F2FD;
  border-radius: 0px;
  border-style: groove;
}
.wk-btn:hover {
  background-color: #b3dcfa;
}
.wk-btn-link {
  background-color: transparent;
  border-color: #E3F2FD;
  border-radius: 0px;
  border-style: groove;
  text-decoration: none;
  color: #000;
}
.wk-btn-link:hover {
  background-color: #b3dcfa;
}
.wk-btn-link:hover {
  text-decoration: none;
}
.panel-footer-link,
.panel-footer-link:hover {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #333333;
}
.modal-header {
  background-color: #51adf6;
}
/*contribution page styles*/
#suggestions {
  margin-bottom: 6%;
}
.screen-name {
  color: red;
  padding: 5px;
}
.error-header,
.error-block {
  display: inline;
}
/* game play screen styles */
.session-bar {
  text-align: center;
  background-color: #00E676;
  padding: 5px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 10px;
}
.contestant-list li {
  padding: 10px;
}
.c-avatar {
  background-color: #b3dcfa;
  border: thin solid tansparent;
  border-radius: 100%;
  padding: 9px;
}
.well-header {
  margin-bottom: 2px;
}
.well-game-header {
  background-color: #84c6f6;
}
ul.money-chain li,
.bank {
  background-color: #00B0FF;
  border: thin solid transparent;
  border-radius: 10%;
  text-align: center;
  padding: 8px;
  color: #fff;
  margin: 1px;
}
ul.money-chain li.active-money,
.bank.active-money {
  background-color: #005880;
}
.bank {
  border-radius: 0px;
  background-color: #008dcc;
}
.timer {
  background-color: #00B0FF;
  border: thin solid transparent;
  border-radius: 10%;
  text-align: center;
  padding: 8px;
  color: #fff;
  margin: 1px;
  border-radius: 0px;
  background-color: #008dcc;
  padding: 10px;
  font-size: 120%;
}
.timer.active-money {
  background-color: #005880;
}
ul.contestant-bar {
  padding: 2px;
  text-align: center;
}
ul.contestant-bar li {
  padding: 10px;
  border: 1px solid #54b0f3;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 2px;
}
ul.contestant-bar li.active {
  background-color: #00E676;
}
.response-btns button {
  margin: 5px;
}
/*helpers */
.marg-1 {
  margin: 5px;
}
.marg-top {
  margin-top: 10px;
}
.slogan {
  font-family: cursive;
}
.incorrect {
  color: red;
}
.correct {
  color: #00E676;
}
.wk-status-offline {
  color: #F9A825;
}
.wk-status-disconnected {
  color: #D50000;
}
.wk-status-online {
  color: #00E676;
}
.validation-error {
  border-color: red;
}
.focused {
  border-color: orange;
}
.loader {
  border: 16px solid #E3F2FD;
  border-radius: 50%;
  border-top: 16px solid #00B0FF;
  border-bottom: 16px solid #00B0FF;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  top: 50%;
  left: 45%;
  position: relative;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.full-width {
  width: 90%;
  height: 90%;
}
